
fieldset {
	font: 95%;
    font-family: Helvetica;
	max-width: 400px;
	margin: 10px auto;
	background-color:#ccc;
    max-width:500px;
    padding:16px;	
    border-radius:8px;	   
}

legend {
    background-color: rgb(151, 149, 149);
    color: #fff;
    padding: 3px 6px;
    border-radius:8px;
}

input:required {
  border: 1px solid black;
}

input:optional {
  border: 1px solid silver;
}

form {
    position : relative;
    width  : 740px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: powderblue;
}

button {
    width: 50%;
    background-color:#CCC;
    
  
}

